@import "_one_1.scss";

.main {
  	width: 300px;
  	background-color: blue;
}

.m {
  	width: 300px;
  	background-color: orange;
}

.m1 {
  	width: 300px;
  	background-color: blue;
}


