.one_1 {
  color: blue;
}

.main7 {
  width: 300px;
  background-color: blue;
}

.main {
  width: 300px;
  background-color: blue;
  background-color: orange;
}

.main {
  width: 300px;
  background-color: blue;
  background-color: orange;
}